<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Image:</b>
  <%= @task.image %>
</p>

<p>
  <b>Website:</b>
  <%= @task.website %>
</p>

<p>
  <b>Date:</b>
  <%= @task.date %>
</p>

<p>
  <b>User:</b>
  <%= @task.user %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
